html {
  height: 100%;
}

body {
    font-family: "Avenir Next", "Helvetica Neue", -apple-system, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
    font-size: 14px;
}

h1 {
     text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 14px;
}

a,
a:active,
a:visited,
a:link,
a:hover {
    color: inherit;
    text-decoration: inherit;
}

/*#header {
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    background-color: ;
    color: white;
    padding: 6px;
	position: fixed;
}*/

#content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 80px;
    margin: 0 auto;
}

#content img {
    max-width: 100%;
}
#content video {
    max-width: 100%;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

ul li a,
ul li a:active,
ul li a:visited,
ul li a:link,
ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    -moz-text-decoration-color: #E80000;
    -webkit-text-decoration-color: #E80000;
}

ul li a:hover {
    color: #E80000;
}

/*#footer {
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-top: 40px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #E80000;
    color: white;
    padding: 6px;
}
*/
table {
    max-width: 100%;
    border-spacing: 0;
    border-radius: 4px;
}

tr {
    max-width: 100%;
    min-width: 50%;
    border: 0;
    
}

tr:hover {
    background-color: ;
}

thead {
    background-color: ;
}

td, th {
    height: 30px;
    min-width: 200px;
    border-bottom: 1px solid black ;
    text-align: left;
    padding: 4px;
}

th {
    border-width: 2px;
}

#fileupload {
    width: 100%;
    height: 30px;
}

#title {
    padding: 0px;
    border: 0;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    height: 30px;
    border-bottom: 1px  ;
}

#description {
    padding: 0px;
    border: 0;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    height: 90px;
    border-bottom: 1px ;
}